<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



    <context:component-scan base-package="innopolis.course" />


    <bean id="StudentService" class="innopolis.course.server.service.StudentServiceImpl">
    </bean>

    <bean id="LessonService" class="innopolis.course.server.service.LessonServiceImpl">
    </bean>

    <bean id="StudentDAO" class="innopolis.course.server.dao.StudentDAOImpl">
    </bean>

    <bean id="LessonDAO" class="innopolis.course.server.dao.LessonDAOImpl">
    </bean>

</beans>